[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-Luis-Cortes/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-Microservices-Luis-Cortes/products-ms.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Nest-Microservices-Luis-Cortes/orders-ms.git
